{% extends 'base.html' %}
{% block title %}编辑商品{% endblock %}
{% block content %}
<h3>编辑商品</h3>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {{ form.hidden_tag() }}
    <div class="row g-3">
        <div class="col-12 col-md-6">
            {{ form.name.label }} 
            {{ form.name(class="form-control") }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.english_name.label }} 
            {{ form.english_name(class="form-control", value=product.english_name or '') }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.category.label }} 
            {{ form.category(class="form-select") }}
        </div>
        <div class="col-12 col-md-4">
            {{ form.price.label }} 
            {{ form.price(class="form-control") }}
        </div>
        <div class="col-12 col-md-4">
            {{ form.cost_price.label }} 
            {{ form.cost_price(class="form-control", value=product.cost_price or '') }}
        </div>
        <div class="col-12 col-md-4">
            {{ form.market_price.label }} 
            {{ form.market_price(class="form-control", value=product.market_price or '') }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.stock.label }} 
            {{ form.stock(class="form-control") }}
        </div>
        <div class="col-12">
            <label class="form-label">商品标签</label>
            <div class="border p-3 rounded">
                <div class="d-flex flex-wrap gap-2">
                    {% for t in tags %}
                    <label class="tag-checkbox-label">
                        <input type="checkbox" name="tag_ids" value="{{ t.id }}" 
                               {% if t in product.tags %}checked{% endif %}>
                        <span class="badge bg-{{ t.color }}">{{ t.name }}</span>
                    </label>
                    {% endfor %}
                    {% if not tags %}
                    <span class="text-muted">暂无标签，请先添加标签</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            {{ form.image_link.label }} 
            {{ form.image_link(class="form-control", placeholder="支持外部图片链接") }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.image.label }} 
            {{ form.image(class="form-control") }}
        </div>
        <div class="col-12">
            <button class="btn btn-success">{{ form.submit.label }}</button>
        </div>
    </div>
    <small class="text-muted">图片链接和上传图片任选其一，均可为空，外部链接请以 http:// 或 https:// 开头。</small>
</form>
{% endblock %}